# Log files
app/log
*.log

# Local propel files
build.properties
build/conf/aptostat_api-conf.php
runtime-conf.xml

# Composer
vendor

# PhpStorm
.idea/workspace.xml
.idea/tasks.xml

# Propel
build.properties
runtime-conf.xml