<footer id="footer">
    <div class="container" id="footer_content">
        <div class="row">
            <div class="span3 centered footer_middle">
                <a href="admin_front.php">Panel</a>
            </div>
            <div class="span3 centered footer_middle">
                <a href="group_reports.php">Manage</a>
            </div>
            <div class="span3 centered footer_middle">
                <a href="http://twitter.com/aptomaops">Twitter</a>
            </div>
            <div class="span3 centered footer_middle">
                <p style="font-size: 18px;font-weight: bold;color: darkred">Logged in as: {{ username }}</p>
            </div>
        </div>
    </div>
</footer>