<footer id="footer">
    <div class="container" id="footer_content">
        <div class="row">
            <div class="span4 centered footer_middle">
                <a href="admin_front.php">Panel</a>
            </div>
            <div class="span4 centered footer_middle">
                <a href="group_reports.php">Manage</a>
            </div>
            <div class="span4 centered footer_middle">
                <a href="http://twitter.com/aptomaops">Twitter</a>
            </div>
        </div>
    </div>
</footer>