{% extends 'layout.twig' %}
{% block title %}Customer front{% endblock %}

{% block content %}
    {% include 'customerHeader.twig' %}
    <div id="content_wrapper">
        <div class="container">
            <div class="row">
                <div class="span4 index-top">
                    <h1>Live status</h1>
                    {% include 'live.twig' %}
                </div>

                <div class="span5 offset3 index-top">
                    <h1>Ongoing incidents</h1>
                    {% include 'currentIncidents.twig' %}
                </div>
            </div>

            <hr />

            <div class="visible-desktop" id="dimmer">

                <div class="row visible-desktop">
                    <div class="span12">
                        {% include 'uptime.twig' %}
                    </div>
                </div>

                <hr />

                <div class="row visible-desktop">
                    <div class="span12 offset1">
                        {% include 'messageHistory.twig' %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
