{% extends 'layout.twig' %}
{% block title %}Customer front{% endblock %}

{% block content %}
    {% include 'customerHeader.twig' %}
    <div id="content_wrapper">
        <div class="container">
            <div class="row">
                <div class="span5">
                    {% include 'live.twig' %}
                </div>

                <div class="span7">
                    {% include 'currentIncidents.twig' %}
                </div>
            </div>

            <hr />

            <div>

                <div class="row">
                    <div class="span12">
                        {% include 'uptime.twig' %}
                    </div>
                </div>

                <div class="row">
                    <div class="span12 offset1">
                        {% include 'messageHistory.twig' %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
