<header id="header">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{ app.url_generator.generate('index') }}"><img src="/img/logo.png" /></a>
            <ul class="nav">
                <li><a href="{{ app.url_generator.generate('index') }}">Start panel</a></li>
                <li><a href="http://aptoma.com/support">Support</a></li>
                <li><a href="http://twitter.com/aptomaops">Twitter</a></li>
            </ul>
        </div>
    </div>
</header>