{% if titleEdited is defined %}
    <div class="well">
        <h4>Success</h4>
        <p>The title has been modified</p>
        <p><-- Click on something on the left to view or edit something else or</p>
        <a href="{{ app.url_generator.generate('manage') }}" class="btn btn-primary">Go back to manage</a>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#incidentList').load('ajax/listIncident', function(){
                if (status == "error") {
                    var msg = "Error: ";
                    $("#incidentList").html(msg + xhr.status + " " + xhr.statusText);
                }
                else {
                    $("#incidentList").fadeTo("normal",1);
                }
            });
        });
    </script>
{% else %}

<div id="editTitle" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editTitleLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="editTitleLabel">Edit title</h3>
    </div>
    <div id="form">
        <form name="titleForm" id="titleForm" action="">
            <div class="modal-body">
                <fieldset>
                    Old title: {{ incident["title"] }}
                </fieldset>
                <br />
                <fieldset class="pull-left">
                    New title
                    <input name="author" type="text" length="20" id="fieldAuthor" placeholder="{{ incident["title"] }}"/><br />
                </fieldset><br />
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <input type="submit" class="btn btn-primary" value="Save new title"/>
            </div>
        </form>
    </div>
    {% endif %}
    <script type="text/javascript">
        $("#titleForm").submit(function(event) {
            event.preventDefault();
            var incident =$("#fieldIncident").val();
            var title = $("#fieldAuthor").val();
            $("#incidentPane").load("ajax/editTitle", {"incident": incident, "title": title}, function(response, status, xhr) {
                if (status == "error") {
                    var msg = "Error: ";
                    $("#reportPane").html(msg + xhr.status + " " + xhr.statusText);
                }
                else {
                    $("#reportPane").fadeTo("normal",1);
                    $("#incidentList").fadeTo("normal",0);
                }
            });
        })
    </script>
</div>
