{% for incident in currentIncidents %}
    <li class='incident file' id='incident_{{ incident["id"] }}'>Incident {{ incident["id"] }} - {{ incident["createdTimestamp"] }} - {{ incident["title"] }}</li>
{% endfor %}