{% extends 'layout.twig' %}

{% block title %}Manage reports and incidents{% endblock %}

{% block content %}
    {% include 'adminHeader.twig' %}
    
    <div id="content_wrapper">
        <div class="container">
            <div class="row">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Reports</a></li>
                        <li><a href="#tab2" data-toggle="tab">Incidents</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="list_content" id="groupbox_reports">
                                <div class="groupbox_heading">
                                    Open reports
                                    <p style="margin-right:6px" class="right">Status</p>
                                </div>
                                <div class="groupbox_wrapper">
                                    <div class="accordion" id="accordion2">
                                        {% include 'reportList.twig' %}
                                    </div>
                                </div>
                                <div class="list_content_menu">
                                    <a href="#" class="newIncident" style="float: right; margin-right: 5px; margin-top: 5px;">Create a new incident <i class="icon-plus-sign icon-white"></i></a>
                                </div>
                            </div>
                            
                            <div class="list_content" id="groupbox_details">
                                <div class="groupbox_heading">
                                    Details for selected report
                                </div>
                                <div class="groupbox_wrapper" id="reportPane">
                                    Click a report to view it.
                                </div>
                                <div class="list_content_menu">
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane" id="tab2">
                            <div class="list_content" id="incidentbox_list">
                                <div class="groupbox_heading">
                                    Incidents
                                </div>
                                <div class="groupbox_wrapper" id="incidentList">
                                    {% include 'listIncident.twig' %}
                                </div>
                                <div class="list_content_menu">
                                    <div class="btn-group" data-toggle="buttons-checkbox">
                                        <button type="button" class="btn filter" id="showAll" unchecked >Show hidden</button>
                                    </div>
                                    <a href="#" class="newIncident" style="float: right; margin-right: 5px; margin-top: 5px;">Create a new incident <i class="icon-plus-sign icon-white"></i></a>
                                </div>
                            </div>
                            <div class="list_content" id="groupbox_details">
                                <div class="groupbox_heading">
                                    Details for selected incident
                                </div>
                                <div class="groupbox_wrapper" id="incidentPane">
                                    Click an incident to view it.
                                </div>
                                <div class="list_content_menu">
                                    <a href="#" id="editIncident" style="float: right; margin-right: 5px; margin-top: 5px; display: none;">Edit incident <i class="icon-pencil icon-white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}