{% extends 'layout.twig' %}

{% block title %}Make a new incident{% endblock %}

{% block content %}
    {% include 'adminHeader.twig' %}

    {# TODO: INTEGREATE THE INLINE STYLING #}
<div id="content_wrapper" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="list_content" id="groupbox_reports">
                <div class="groupbox_heading">
                    Open reports
                    <p style="margin-right:6px" class="right">Status</p>
                </div>
                <div class="groupbox_wrapper">
                    <div class="accordion" id="accordion2">
                        {% include 'reportList.twig' %}
                    </div>
                </div>
                <div class="list_content_menu">

                </div>
            </div>

            <div class="list_content" id="groupbox_details">
                <div class="groupbox_heading">
                    Details for selected report
                </div>

                <form name="messageForm" action="" id="messageForm">
                    <div class="groupbox_wrapper" id="incidentForm">
                        <div id="form">
                            <fieldset>
                                <table border="0">
                                    <tr>
                                        <h4>Included reports: </h4><span id='select-result'>None</span><br />
                                    </tr>
                                </table>
                                Flag: <select name="flag" id="fieldFlag">
                                    <option value="CRITICAL">Critical</option>
                                    <option value="WARNING">Warning</option>
                                    <option value="RESPONDING">Responding</option>
                                    <option value="RESOLVED">Resolved</option>
                                    <option value="IGNORED">Ignored</option>
                                    <option value="INTERNAL">Internal</option>
                                </select>
                            </fieldset>

                            <fieldset>
                                <legend>Message</legend>
                                Author:<br />>
                                <input name="author" type="text" length="20" id="fieldAuthor" /><br />
                                Message<br />>
                                <textarea id="fieldMessage" name="message" rows="10" cols="50"></textarea><br />
                            </fieldset>
                        </div>
                    </div>

                    <div class="list_content_menu">
                        <input type="submit" value="Cancel" name="cancel" id="buttonSubmit" style:float:left;/>
                        <input type="submit" value="Save" name="save" id="buttonSubmit" style:float:right;/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}