{% if status %}
    <div class="well">
        <h4>Success</h4>
        <p>A new incident has been created.</p>
        <a href="{{ app.url_generator.generate('manage') }}"
    </div>
{% else %}
    <div class="well">
        <h4>Error</h4>
        <p>Something went wrong. Did you remember to fill out all the fields and attach reports?</p>
    </div>
{% endif %}