{% extends 'layout.twig' %}

{% block title %}Make a new incident{% endblock %}

{% block content %}
    {% include 'adminHeader.twig' %}

<div id="content_wrapper">
    <div class="container">
        <div class="row">
            <div class="list_content index-top" id="groupbox_reports">
                <div class="groupbox_heading">
                    Open reports
                    <p style="margin-right:6px" class="right">Status</p>
                </div>
                <div class="groupbox_wrapper">
                    <div class="accordion" id="accordion2">
                        {% include 'reportList.twig' %}
                    </div>
                </div>
                <div class="list_content_menu">

                </div>
            </div>

            <div class="list_content index-top" id="groupbox_details">
                <div class="groupbox_heading">
                    Details for selected report
                </div>

                <form name="messageForm" action="manage" id="messageForm">
                    <div class="groupbox_wrapper" id="incidentForm">
                        <div id="form">
                            <fieldset>
                                <legend>New incident</legend>
                                <h4>Title:</h4>
                                <input name="title" type="text" length="20" id="fieldTitle" />
                            </fieldset>
                            <fieldset>
                                <h4>Included reports:</h4>
                                <table border="0">
                                    <tr>
                                        <span id='selectedReports'>Click reports to include them</span><br /><br />
                                    </tr>
                                </table>

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $(function() {
                                            var selectedReports = [];
                                            $(".selectable").bind("mousedown", function(event) {
                                                event.metaKey = true;
                                            }).selectable({
                                                tolerance: 'fit',
                                                stop: function() {
                                                    var result = $( "#selectedReports" ).empty();
                                                    selectedReports.length = 0;
                                                    var i = 0;
                                                    $(".ui-selected", $("#accordion2")).each(function() {
                                                        var itemId = $(this).attr('id');
                                                        var item = itemId.replace("report_", "");
                                                        result.append( " #" + item );
                                                        selectedReports[i] = item;
                                                        i++;
                                                    });
                                                    result.html(selectedReports.join( ));
                                                }
                                            });
                                        })
                                    });
                                </script>

                                <span>Flag:</span><br />
                                <select name="flag" id="fieldFlag">
                                    <option value="CRITICAL">Critical</option>
                                    <option value="WARNING">Warning</option>
                                    <option value="RESPONDING">Responding</option>
                                    <option value="RESOLVED">Resolved</option>
                                    <option value="IGNORED">Ignored</option>
                                    <option value="INTERNAL">Internal</option>
                                </select>
                            </fieldset>

                            <fieldset>
                                <legend>Message</legend>
                                <span>Author:</span><br />
                                <input name="author" type="text" length="20" id="fieldAuthor" /><br />
                                <span>Message:</span><br />
                                <textarea id="fieldMessage" name="message" rows="5" cols="50">Write message here...</textarea><br />
                            </fieldset>
                        </div>
                    </div>

                    <div class="list_content_menu">
                        <a href="{{ app.url_generator.generate('manage') }}" class="btn btn-danger" style="float:left">Cancel</a>
                        <input type="submit" class="btn btn-primary" value="Save" id="buttonSubmit" style="float:right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $("#messageForm").submit(function(event) {
            event.preventDefault();
            var author = $("#fieldAuthor").val();
            var title = $("#fieldTitle").val();
            var flag = $("#fieldFlag").val();
            var message =$("#fieldMessage").val();
            var incident =$("#fieldIncident").val();
            var hidden =$("#fieldHide").val();
            
            $("#incidentPane").load("ajax/executeNewIncident", {"incident": incident, "title": title, "message": message, "flag": flag, "author": author, "hidden": hidden}, function(response, status, xhr) {
            
             if (status == "error") {
                    var msg = "Error: ";
                    $("#reportPane").html(msg + xhr.status + " " + xhr.statusText);
                }
                else {
                    $("#reportPane").fadeTo("normal",1);
                    $("#my-modal").modal('hide');
                }
            });
        })
    </script>

            
{% endblock %}