<?php

<div class="tabbable">

    <ul class="nav nav-tabs">
        <li class="active" id="reportTab"><a href="#tab1" data-toggle="tab">Reports</a></li>
        <li id="incidentTab"><a href="#tab2" data-toggle="tab">Incidents</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="list_content" id="groupbox_reports">
                <div class="groupbox_heading">
                    Open reports
                    <p style="margin-right:6px" class="right">Status</p>
                </div>
                <div class="groupbox_wrapper">
                    <div class="accordion" id="accordion2">
                        <?php
                                                $reports->generateReportList($reportList);
                        ?>
                    </div>
                </div>
                <div class="list_content_menu">

                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <div class="list_content" id="incidentbox_list">
                <div class="groupbox_heading">
                    Incidents
                </div>
                <div class="groupbox_wrapper">
                    <ul>
                        <?php
                                                $incidents->generateIncidentsList($incidentList);
                        ?>
                    </ul>
                </div>
                <div class="list_content_menu">
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <button type="button" class="btn btn-primary filter active" id="warning">Warning</button>
                        <button type="button" class="btn btn-primary filter active" id="critical">Critical</button>
                        <button type="button" class="btn btn-primary filter active" id="responding">Responding</button>
                        <button type="button" class="btn btn-primary filter" id="resolved">Resolved</button>
                        <button type="button" class="btn btn-primary filter" id="ignored">Ignored</button>
                        <button type="button" class="btn btn-primary filter active" id="internal">Internal</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="list_content" id="groupbox_details">
            <div class="groupbox_heading">
                Details for selected report
            </div>

            <form name="messageForm" action="" id="messageForm">
                <div class="groupbox_wrapper" id="incidentForm">
                    <div id="form">
                        New incident

                        <fieldset>
                            <legend>Data</legend>
                            <table border="0">
                                <tr>
                                    <h4>Included reports: </h4><span id='select-result'>None</span>
                                </tr>
                            </table>
                            Flag: <select name="flag" id="fieldFlag">
                                <option value="CRITICAL">Critical</option>
                                <option value="WARNING">Warning</option>
                                <option value="RESPONDING">Responding</option>
                                <option value="RESOLVED">Resolved</option>
                                <option value="IGNORED">Ignored</option>
                                <option value="INTERNAL">Internal</option>
                            </select>
                        </fieldset>

                        <fieldset>
                            <legend>Message</legend>
                            Author: <input name="author" type="text" length="20" id="fieldAuthor" /><br />
                            <textarea id="fieldMessage" name="message" rows="10" cols="50"></textarea><br />

                        </fieldset>
                    </div>
                </div>

                <div class="list_content_menu">
                    <input type="submit" value="Cancel" name="cancel" id="buttonSubmit" style:float:left;/>
                    <input type="submit" value="Save" name="save" id="buttonSubmit" style:float:right;/>
                </div>
            </form>

        </div>

    </div>
</div>
</div>
</div>
</div>

</body>
</html>