{% if messageSent is defined %}
<div class="well">
    <h4>Success</h4>
    <p>A new message has been posted.</p>
    <p><-- Click somewhere else on the interface to do something else</p>
</div>
{% else %}

<div id="newMessage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newMessageLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="newMessageLabel">Create a new message</h3>
    </div>
    <div id="form">
        <form name="messageForm" id="messageForm" action="">
            <div class="modal-body">
                <fieldset>
                    Incident: <input class="input-mini" type="text" id="fieldIncident" value="{{ incident["id"] }}" readonly="true">
                </fieldset>
                <fieldset class="pull-right">
                    Flag:<br/>
                    <select name="flag" id="fieldFlag">
                        <option value="CRITICAL">Critical</option>
                        <option value="WARNING">Warning</option>
                        <option value="RESPONDING">Responding</option>
                        <option value="RESOLVED">Resolved</option>
                        <option value="IGNORED">Ignored</option>
                        <option value="INTERNAL">Internal</option>
                    </select>
                </fieldset>
                <br />
                <fieldset class="pull-left">
                    Author:
                    <input name="author" type="text" length="20" id="fieldAuthor" /><br />
                </fieldset><br />
                <fieldset>
                    Message:<br />
                    <textarea id="fieldMessage" name="message" rows="10" cols="50" style="width:500px" ></textarea>
                    <br />
                    Hide this incident?<br />
                    <select name="hide" id="fieldHide">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select><br />
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <input type="submit" class="btn btn-primary" value="Save new message"/>
            </div>
        </form>
    </div>
{% endif %}
    <script type="text/javascript">
        $("#messageForm").submit(function(event) {
            event.preventDefault();
            var author = $("#fieldAuthor").val();
            var title = $("#fieldTitle").val();
            var flag = $("#fieldFlag").val();
            var message =$("#fieldMessage").val();
            var incident =$("#fieldIncident").val();
            var hidden =$("#fieldHide").val();

            $("#incidentPane").load("ajax/saveNewMessage", {"incident": incident, "title": title, "message": message, "flag": flag, "author": author, "hidden": hidden}, function(response, status, xhr) {

                if (status == "error") {
                    var msg = "Error: ";
                    $("#reportPane").html(msg + xhr.status + " " + xhr.statusText);
                }
                else {
                    $("#reportPane").fadeTo("normal",1);
                    $("#my-modal").modal('hide');
                }
            });
        })
    </script>
</div>
