{% if messageSent is defined %}

<h4>Message posted</h4>

    <a href="{{ app.url_generator.generate('manage') }}" class="btn btn-success">Return</a>

{% else %}

{% for incident in incidentData %}
<div id="form">
    <form name="messageForm" action="" id="messageForm">
            <fieldset>
                Incident: <input class="input-mini" type="text" id="fieldIncident" value="{{ incident["id"] }}" readonly="true">
            </fieldset>
            <fieldset class="pull-right">
                Flag:<br/>
                    <select name="flag" id="fieldFlag">
                    <option value="CRITICAL">Critical</option>
                    <option value="WARNING">Warning</option>
                    <option value="RESPONDING">Responding</option>
                    <option value="RESOLVED">Resolved</option>
                    <option value="IGNORED">Ignored</option>
                    <option value="INTERNAL">Internal</option>
                </select>
            </fieldset>
                <br />
            <fieldset class="pull-left">
                Author:
                <input name="author" type="text" length="20" id="fieldAuthor" /><br />
            </fieldset><br />
            <fieldset>
                Message:<br />
                <textarea id="fieldMessage" name="message" rows="10" cols="50" style="width:553px" >
                </textarea><br />
                <input type="submit" class="btn btn-primary" value="Submit" id="buttonSubmit" />
            </fieldset>
        </form>
    </div>
{% endfor %}
{% endif %}
    <script type="text/javascript">
        $("#messageForm").submit(function(event) {
            event.preventDefault();
            var author = $("#fieldAuthor").val();
            var flag = $("#fieldFlag").val();
            var message =$("#fieldMessage").val();
            var incident =$("#fieldIncident").val();
            $("#reportPane").load("ajax/executeNewMessage", {"incident": incident, "message": message, "flag": flag, "author": author}, function(response, status, xhr) {
                if (status == "error") {
                    var msg = "Error: ";
                    $("#reportPane").html(msg + xhr.status + " " + xhr.statusText);
                }
                else {
                    $("#reportPane").fadeTo("normal",1);
                }
            });
        })
    </script>